body{
    margin: 0;
    padding: 0;
    background-color: rgb(58, 102, 235);
    text-align: center;
}
header{
    color: aliceblue;
}
section{
background-color: rgb(194, 228, 72);
border-radius: 10px;
padding:15px;
width:500px;
margin:auto; 
}
footer{
    color:#a1f1a1;
}