body{
    margin: 0;
    padding: 0;
    background-color: rgba(5, 4, 85, 0.808);
    text-align: center;
}
header{
    color: rgb(75, 72, 245);
}
section{
background-color: #26c3c9ab;
border-radius: 10px;
padding:15px;
width:500px;
margin:auto; 
}
footer{
    color:#0d0e0d;
    text-transform: uppercase;

}